<!doctype html>
<html>
  <head>
  </head>
  <body>
    <div id="something">
    </div>
    <div>
      Is what i'm saying
    </div>
    <script type="text/javascript" src="script/lib/core.js"></script>
    <script type="text/javascript" src="script/lib/utils.js"></script>
    <script type="text/javascript" src="script/lib/events.js"></script>
    <script type="text/javascript" src="script/app/core/application.js"></script>
    <script type="text/javascript" src="script/app/core/core_base.js"></script>
    <script type="text/javascript" src="script/app/core/event_base.js"></script>
    <script type="text/javascript" src="script/index.js"></script>
  </body>
</html>
